/* BUTTON */

.ApplyButton {
	display: flex;
	width: 216px;
	height: 55px;
	position: relative;
	justify-content: center;
	align-items: center;

	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 17px;
	padding: 2px;
	border: none;
	border-radius: 9px;
	background-color: #ef0086;

	text-align: center;

	color: white;

	transition: background-color 200ms ease-in;
}

.ApplyButton:hover {
	background-color: #b82edb;
}

.Text {
	display: inline-block;
	margin: 0px;
}

/* .Text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 3px;
	border-radius: 9px;

	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	background: linear-gradient(to bottom, rgb(169, 1, 250), rgb(255, 28, 198));
}

.Text:hover::before {
	background: none;
} */

/********************************/

.PaperLogo {
	display: inline-block;
	width: 15%;
	height: auto;

	justify-content: center;
	align-items: center;
}

.SolidLogo {
	display: inline-block;
	width: 15%;
	height: auto;

	justify-content: center;
	align-items: center;
}

/************************************************/
/* CLASS BUTTONS (CLASES SEGUN CLASE DE BOTÓN) */

.Apply > .PaperLogo {
	display: none;
}

.Apply > .SolidLogo {
	display: none;
}

.Paper {
	font-size: 16px;
	font-weight: 500;
	background-color: transparent;
}

.Paper > .PaperLogo {
	display: inline-block;
	width: 15%;
	height: auto;

	margin-right: 10px;
	justify-content: center;
	align-items: center;
}

.Paper > .Text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 3px;
	border-radius: 9px;

	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	background: linear-gradient(to bottom, rgb(169, 1, 250), rgb(255, 28, 198));
}

.Paper > .Text:hover::before {
	background: none;
}

.Solid {
	font-size: 15px;
	font-weight: 500;
	background-color: transparent;
}

.Solid > .SolidLogo {
	display: inline-block;
	width: 12%;
	height: auto;

	margin-right: 10px;
	justify-content: center;
	align-items: center;
}

.Solid > .Text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 3px;
	border-radius: 9px;

	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	background: linear-gradient(to bottom, rgb(169, 1, 250), rgb(255, 28, 198));
}

.Solid > .Text:hover::before {
	background: none;
}