/* CARDS */
.NftCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px; /* antes 190px*/
	height: 480px; /* antes 500px*/

	margin: 13px 0px 15px 0px !important;

	overflow: hidden;
	border-radius: 9px;
	background-color: transparent;

	transition: transform 0.2s ease-in;
}

.NftCard:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in;
	/* box-shadow: 0px 0px 10px whitesmoke; */
}

.Selected {
	/* box-shadow: 0px 0px 10px whitesmoke; */
	transition: transform 0.4s ease-in;
}

/****************************************/

/* Image */
.NftImage {
	display: inline-block;
	width: 167px;
	height: 50%;

	margin-top: 11px !important;
	border-radius: 7px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	object-position: center;
}

.NftLogo {
	display: inline-block;
	width: 73%;
	height: auto;

	margin-top: 4px !important;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.NftDataContainer {
	display: inline-block;
	align-items: center;
	text-align: center;
	/* background-color: red; */

	margin-top: 7px !important;
}

.NftDataContainer > h5 {
	color: white;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	padding: 3px !important;
	margin-top: 10px;
}

.NftDataContainer > h4 {
	color: #b6006d;
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

.NftDataContainer > h6 {
	color: white;
	font-style: normal;
	font-weight: 800;
	font-size: 10px;
	text-align: center;
	margin-top: 20px;
}

.NftDataContainer h2 {
	color: white;
	font-style: normal;
	font-weight: 800;
	font-size: 15px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.NftDataContainer > h3 {
	color: white;
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	line-height: 8px;
	margin-top: 14px !important;
	margin-bottom: 6px;
}

/***************/
/* TABLET MODE */
/***************/

/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.NftCard {
		width: 209px;
		height: 500px;
	}
	.NftImage {
		width: 181px;
		height: 50%;
	}
	.NftDataContainer h3 {
		font-size: 11px;
		line-height: 10px;
	}
	.NftDataContainer h2 {
		font-size: 17px;
		line-height: 16px;
	}
	.NftDataContainer h4 {
		font-size: 12px;
		line-height: 10px;
	}
	.NftDataContainer h6 {
		font-size: 12px;
		line-height: 10px;
	}
	.NftDataContainer h5 {
		font-size: 20px;
		line-height: 18px;
	}
}

/********/
/* 	PC  */
/********/

/* PC */

@media only screen and (min-width: 1024px) {
	/* CARDS */
	.NftCard {
		width: 230px;
		height: 540px; /*antes 500px */
	}
	.NftImage {
		margin-top: 13px !important;
		width: 206.25px;
		height: 50%;
	}
	.NftDataContainer h3 {
		margin-top: 18px !important;
		font-size: 12px;
		line-height: 10px;
	}
	.NftDataContainer h2 {
		font-size: 19px;
		line-height: 17px;
	}
	.NftDataContainer h4 {
		font-size: 16px;
		line-height: 14px;
	}
	.NftDataContainer h6 {
		font-size: 12px;
		line-height: 12px;
	}
	.NftDataContainer h5 {
		font-size: 18px;
		line-height: 18px;
	}
	.Selected {
		box-shadow: none;
		transition: transform 0.4s ease-in;
	}
}
