/*////////*/
/* STYLES */
/*////////*/

/* SECTION CONTAINER */
.Container {
	display: flex;
	width: 100%;
	max-width: 800px;

	padding: 130px 0px 100px 0px;

	text-align: center;
	justify-content: center;
}

.Content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.TribePop {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 34px;
	line-height: 34px;

	max-width: 340px;
	display: inline-block;
	margin-bottom: 30px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.017em;

	color: #ffffff;
	text-shadow: 1px 1px 2px black;
}

/* GRADIENT TEXT ('TribePop') */
.GradientText {
	font-weight: 800;
	background: linear-gradient(
		to right,
		rgb(255, 1, 126),
		rgb(169, 1, 250),
		rgb(3, 238, 254)
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.Text {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	display: inline-block;
	align-items: center;
	text-align: center;
	letter-spacing: -0.017em;

	color: #ffffff;
}

.Stroke {
	margin: 15px 0px;
	border-radius: 8px;
	align-items: center;
}

/* Social CONTAINER */
.Social {
	display: flex;
	width: 350px;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 20px;
}

.Social > img {
	margin: 5px;
}

.Social > .Pc {
	display: none;
}

/* 8888888888888888888888888888888 */

/* LARGE IMAGE */
.LargeCharacters {
	display: none;
}

.Characters {
	margin-bottom: 20px;
}

/*/////////*/
/* SCREENS */
/*/////////*/

/* MOBILE MEDIUM AND LARGE */
@media only screen and (min-width: 358px) and (max-width: 767px) {
	.Text {
		width: calc(75% - 10px);
	}
	.TextContainer {
		width: 370px;
	}
	.Social {
		align-items: center;
		text-align: center;
	}
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.Subcontainer {
		max-width: 768px;
		margin-left: auto;
		margin-right: auto;
		padding: 0px 20px 0px 20px;
	}
	.TribePop {
		font-size: 38px;
		line-height: 30px;

		max-width: 340px;
		margin-top: 55px;
		margin-bottom: 0px;
		text-shadow: 1px 1px 2px black;
	}
	.Characters {
		display: none;
	}
	.LargeCharacters {
		display: flex;
		float: left;
		height: 420px;
		width: auto;
		margin: 10px;
	}
	.Text {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		margin-top: 35px;
	}
	.Stroke {
		margin: 15px 0px;
	}
	.Social {
		margin-top: 45px;
		width: 100%;
	}
	.Social > a {
		width: 200px !important;
		height: 30px !important;
	}
	.Coin {
		background-image: url(./assets/coinmarketPC.png);
	}

	.Coin:hover {
		background-image: url(./assets/coinmarketPChover.png);
	}

	.Pancake {
		background-image: url(./assets/pancakePC.png);
	}

	.Pancake:hover {
		background-image: url(./assets/pancakePChover.png);
	}

	.Meme {
		background-image: url(./assets/memepadPC.png);
	}

	.Meme:hover {
		background-image: url(./assets/memepadPChover.png);
	}

	.Gecko {
		width: 200px !important;
		height: 30px !important;
		background-image: url(./assets/CoingekoPC.png);
	}

	.Gecko:hover {
		background-image: url(./assets/CoingekoPChover.png);
	}

	.Bsc {
		width: 200px !important;
		height: 30px !important;
		background-image: url(./assets/bscPC.png);
	}

	.Bsc:hover {
		background-image: url(./assets/bscPChover.png);
	}
}

@media screen and (min-width: 768px) {
	.Social {
		width: 100%;
	}
	.Social > .Mobile {
		display: none;
	}

	.Social > .Pc {
		display: inline-block;
	}
}

/* PC */
@media only screen and (min-width: 1024px) {
	.Container {
		padding: 80px 0px 0px 0px;
	}
	.Subcontainer {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.TribePop {
		font-size: 38px;
		line-height: 30px;

		max-width: 340px;
		margin-top: 55px;
		margin-bottom: 0px;
		text-shadow: 1px 1px 2px black;
	}
	.Characters {
		display: none;
	}
	.LargeCharacters {
		display: flex;
		float: left;
		height: 400px;
		width: auto;
		margin: 10px 10px 60px 10px;
	}
	.Text {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		margin-top: 35px;
	}
	.Stroke {
		margin: 20px 0px;
	}
	.Social {
		margin-top: 45px;
	}
}
