/* BUTTON */

.PancakeButton {
	display: inline-block;
	width: 208px;
	height: 40px;

	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;

	border-radius: 9px;
	background-color: #ef0086;

	align-items: center;
	text-align: center;
	justify-content: center;

	color: white;
	border: none;
	transition: background-color 200ms ease-in;
}

.PancakeButton > img {
	display: inline-block;
	width: 11%;
	height: auto;
	margin-right: 15px;
	justify-content: center;
	align-items: center;
}

.PancakeButton:hover {
	background-color: #b82edb;
}

/************************************************/
/* CLASS TAMAÑOS (CLASES SEGUN TAMAÑO DE BOTÓN) */

.Big {
	font-style: bold;
}

.Mid {
	width: 129px;
	height: 30px;
	font-size: 13px;
	font-weight: 500;
	padding: 0px 20px;
	border-radius: 8px;
}

.Small {
	width: 130px;
	height: 25px;
	font-size: 12px;
	font-weight: 600;

	border-radius: 5px;
}

/********************************************/
@media screen and (min-width: 1024px) {
	.Big {
		width: 300px;
		height: 50px;
	}

	.Mid {
		width: 129px;
		height: 30px;
	}

	.Small {
		width: 130px;
		height: 25px;
	}
}
